.Container {
  width: 75w;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(27, 45, 73, 1) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 0) 100%
  );
}

.Container .Slider {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.Container .Slider .SliderItem {
  width: 100%;
  text-align: center;
  padding: 1rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: none;
}

.SliderItemTitle {
  font-weight: 900;
  text-transform: uppercase;
  color: #007dbc;
  text-shadow: 1px 2px 3px #e7e7e7d7;
  padding: 1rem 1.5rem 0.4rem;
  border-radius: 4px;
  margin: 0;
}

.SliderItemPrice {
  color: #fbb03b;
  font-size: 2.3rem;
  font-weight: 700;
  text-shadow: 1px 2px 3px #151f32;
  margin: 0;
  padding: 0.4rem 1.5rem;
}

.SliderItemPrice span {
  color: #fbb03b;
  background-color: #151f32;
  text-shadow: none;
  font-size: 1.2rem;
  font-family: Verdana, Tahoma, sans-serif;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.PlusContainer {
  font-weight: 900;
  font-size: 3rem;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Chevron {
  color: #1c283d70;
  font-weight: 900;
  font-size: 2rem;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Chevron:hover {
  color: #151f32;
  transition: all 0.15s ease-in;
}

.SliderButtonContainer {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SliderButton {
  background: linear-gradient(180deg, #ffc047 0, #fea600);
  border-color: #fbb03b #fea600 #fea600;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #fff;
  text-shadow: 0 1px 1px #151f32;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  box-sizing: border-box;
  border: 0;
  padding: 1em 1.5rem;
  cursor: pointer;
}

.SliderButton:hover {
  background: linear-gradient(180deg, #fbb03b 0, #fea600);
  transition: all 0.15s ease-in;
}

a {
  text-decoration: none;
}
/* Mobile */
@media (max-width: 1024px) {
  .Container {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .Container .Slider {
    display: block;
  }

  .Container .Slider .SliderItem .a {
    width: 26%;
    padding: 14px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .SliderItemTitle {
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #007dbc;
    text-shadow: 1px 2px 3px #e7e7e7d7;
    padding: 1rem 1.5rem 0.4rem;
    border-radius: 4px;
    margin: 0;
  }

  .SliderItemPrice {
    color: #fbb03b;
    font-size: 1.1rem;
    font-weight: 700;
    text-shadow: 1px 2px 3px #151f32;
    margin: 0;
    padding: 0.4rem 1.5rem;
  }

  .PlusContainer {
    font-size: 2rem;
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SliderButton {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
  }
  .Chevron {
    display: none;
  }
}
